<div class="modal-header">
   <h3 class="modal-title lobster">About MakerTrails</h3>
</div>
<div class="modal-body">
  <p class="description">MakerTrails is a social, location-based city exploration application. Users can create maps that showcase hidden gems in their city. Those who embark on these peer-curated adventures will unlock additional features with every location they reach!</p>
  <h4 class="demo-header">Mobile Experience</h4>
  <div class="row mobile-wrapper">
    <div class="col-md-4 mobile-container">
      <img class="mobile-screenshot" src="../assets/images/screenshots/select.PNG"/>
      <p class="text-center"> Select a Map </p>
    </div>
    <div class="col-md-4 mobile-container">
      <img class="mobile-screenshot" src="../assets/images/screenshots/map.PNG"/>
      <p class="text-center"> Reach a Location </p>
    </div>
    <div class="col-md-4 mobile-container">
      <img class="mobile-screenshot" src="../assets/images/screenshots/review.PNG"/>
      <p class="text-center"> Share your experience </p>
    </div>
  </div>
  <h4 class="demo-header">Desktop Experience</h4>
  <div class="desktop-wrapper">
    <img class="desktop-screenshot" src="../assets/images/screenshots/desktop.PNG"/>
    <p class="text-center"> Create your own Maps </p>
  </div>
</div>
<footer class="modal-footer text-left">
  <ul class="developers list-inline">
    <li class="list-inline-item"><span>Built by:</span></li>
    <li class="list-inline-item">Daniel De La Rosa <a href="https://github.com/dela1000" target="_blank"><span class="icon ion-social-github"></span></a> <a href="https://www.linkedin.com/in/daniel-de-la-rosa-738763a" target="_blank"><span class="icon ion-social-linkedin"><span></a></li>
    <li class="list-inline-item">Nick Ivons <a href="https://github.com/Niicck" target="_blank"><span class="icon ion-social-github"></span></a> <a href="https://www.linkedin.com/in/nickivons" target="_blank"><span class="icon ion-social-linkedin"><span></a></li>
    <li class="list-inline-item">Luis Gamero <a href="https://github.com/luisgamero" target="_blank"><span class="icon ion-social-github"></span></a> <a href="https://www.linkedin.com/in/luis-gamero-967119108" target="_blank"><span class="icon ion-social-linkedin"><span></a></li>
    <li class="list-inline-item">Juan Schaar <a href="https://github.com/juancho1" target="_blank"><span class="icon ion-social-github"></span></a> <a href="https://www.linkedin.com/in/juanschaar" target="_blank"><span class="icon ion-social-linkedin"><span></a></li>
  </ul>
  <ul class="developers list-inline">
    <li class="list-inline-item"><span>Contributors:</span></li>
    <li class="list-inline-item">VJ Aguilar <a href="https://github.com/shinyness" target="_blank"><span class="icon ion-social-github"></span></a> <a href="https://www.linkedin.com/in/veejaye" target="_blank"><span class="icon ion-social-linkedin"><span></a></li>
    <li class="list-inline-item">Thomas Leupp <a href="https://github.com/Cygnus2112" target="_blank"><span class="icon ion-social-github"></span></a> <a href="https://www.linkedin.com/in/thomasleupp" target="_blank"><span class="icon ion-social-linkedin"><span></a></li>
    <li class="list-inline-item">Joseph Martin <a href="https://github.com/jpranaymartin" target="_blank"><span class="icon ion-social-github"></span></a> <a href="https://www.linkedin.com/in/jpranaymartin" target="_blank"><span class="icon ion-social-linkedin"><span></a></li>
    <li class="list-inline-item">Kaushik Sahoo <a href="https://github.com/kaushiksahoo2000" target="_blank"><span class="icon ion-social-github"></span></a> <a href="https://www.linkedin.com/in/kaushik-sahoo-39114274" target="_blank"><span class="icon ion-social-linkedin"><span></a></li>
  </ul>
</footer>
